@font-face{
	font-family: Gomawo;
	font-display: swap;
	src: url("../fonts/Gomawo.woff2") format("woff2"); 
	src: url("../fonts/Gomawo.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Pragmaticashadowc italic;
	font-display: swap;
	src: url("../fonts/Pragmaticashadowc italic.woff2") format("woff2"); 
	src: url("../fonts/Pragmaticashadowc italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
